---
title: Donate
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
    <iframe src="https://givebutter.com/embed/c/open-tech-international-demo" width="100%" height="615px" style="max-width: 601px;" name="givebutter" frameborder="0" scrolling="no" seamless allowpaymentrequest></iframe><script src="https://givebutter.com/js/widget.js"></script>
</div>
